---
title: "Coincheck Affiliate Banner 01"
date: 2018-05-10
categories: ['banner']
caption: "Facebook / Photoshop / 2時間"
eyecatch: '/images/banner/affiliates/ja/affiliates_banner01_300_250.png'
url: '/banner/affiliate01/'
draft: false
---

<article class="post__page" ng-controller="BannerCtrl as bctl">
  <div class="post__banner__wrapper">
    <h3>Coincheck Affiliate Banner 01</h3>
    <small>Facebook / Photoshop / 2時間</small>
    <div class="tabs__wrapper" ng-cloak>
      <ul class="tabs">
        <li class="tab click__sound" ng-click="bctl.bannerTab01 = 'affiliates_banner01_300_250'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_300_250'}">300×250</li>
        <li class="tab click__sound" ng-click="bctl.bannerTab01 = 'affiliates_banner01_300_600'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_300_600'}">300×600</li>
        <li class="tab click__sound" ng-click="bctl.bannerTab01 = 'affiliates_banner01_320_100'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_320_100'}">320×100</li>
        <li class="tab click__sound" ng-click="bctl.bannerTab01 = 'affiliates_banner01_336_280'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_336_280'}">336×280</li>
        <li class="tab click__sound" ng-click="bctl.bannerTab01 = 'affiliates_banner01_250_250'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_250_250'}">250×250</li>
        <li class="tab click__sound" ng-click="bctl.bannerTab01 = 'affiliates_banner01_234_60'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_234_60'}">234×60</li>
        <li class="tab click__sound" ng-click="bctl.bannerTab01 = 'affiliates_banner01_480_220'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_480_220'}">480×220</li>
        <li class="tab click__sound" ng-click="bctl.bannerTab01 = 'affiliates_banner01_540_180'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_540_180'}">540×180</li>
        <li class="tab click__sound" ng-click="bctl.bannerTab01 = 'affiliates_banner01_728_90'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_728_90'}">728×90</li>
      </ul>
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_300_250'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_300_250.png" alt="Affiliates Banner 01 300_250">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_300_600'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_300_600.png" alt="Affiliates Banner 01 300_600">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_320_100'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_320_100.png" alt="Affiliates Banner 01 320_100">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_336_280'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_336_280.png" alt="Affiliates Banner 01 336_280">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_250_250'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_250_250.png" alt="Affiliates Banner 01 250_250">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_234_60'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_234_60.png" alt="Affiliates Banner 01 234_60">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_480_220'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_480_220.png" alt="Affiliates Banner 01 480_220">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_540_180'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_540_180.png" alt="Affiliates Banner 01 540_180">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_728_90'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_728_90.png" alt="Affiliates Banner 01 728_90">}}
    </div>
  </div>
  <div class="post__text--wrapper" ng-cloak>
    <h2 class="post__text--title">コンセプト</h2>
    <p>Coincheckのアフィリエイトブログに貼ってもらう為のバナーです。</p>
    <p>キャラクターは、コインチェックとビットコインをイメージして作ってもらいました（髪の色、ピアス、服の装飾等で雰囲気を出しています）</p>
    <p>ターゲットは主に女性。女性が少ないので、リーチが少ない層の獲得を狙いました。</p>
  </div>
</article>
