---
title: "Coincheck Affiliate Banner 02"
date: 2018-05-05
categories: ['banner']
caption: "Facebook / Photoshop / 2時間"
eyecatch: '/images/banner/affiliates/ja/affiliates_banner02_300_250.png'
url: '/banner/affiliate02/'
draft: false
---

<article class="post__page" ng-controller="BannerCtrl as bctl">
  <div class="post__banner__wrapper">
    <h3>Coincheck Affiliate Banner 02</h3>
    <small>Facebook / Photoshop / 2時間</small>
    <div class="tabs__wrapper" ng-cloak>
      <ul class="tabs">
        <li class="tab" ng-click="bctl.bannerTab02 = 'affiliates_banner02_300_250'" ng-class="{selected: bctl.bannerTab02 == 'affiliates_banner02_300_250'}" onClick="sound()">300×250</li>
        <li class="tab" ng-click="bctl.bannerTab02 = 'affiliates_banner02_300_600'" ng-class="{selected: bctl.bannerTab02 == 'affiliates_banner02_300_600'}" onClick="sound()">300×600</li>
        <li class="tab" ng-click="bctl.bannerTab02 = 'affiliates_banner02_320_100'" ng-class="{selected: bctl.bannerTab02 == 'affiliates_banner02_320_100'}" onClick="sound()">320×100</li>
        <li class="tab" ng-click="bctl.bannerTab02 = 'affiliates_banner02_336_280'" ng-class="{selected: bctl.bannerTab02 == 'affiliates_banner02_336_280'}" onClick="sound()">336×280</li>
        <li class="tab" ng-click="bctl.bannerTab02 = 'affiliates_banner02_250_250'" ng-class="{selected: bctl.bannerTab02 == 'affiliates_banner02_250_250'}" onClick="sound()">250×250</li>
        <li class="tab" ng-click="bctl.bannerTab02 = 'affiliates_banner02_234_60'" ng-class="{selected: bctl.bannerTab02 == 'affiliates_banner02_234_60'}" onClick="sound()">234×60</li>
        <li class="tab" ng-click="bctl.bannerTab02 = 'affiliates_banner02_480_220'" ng-class="{selected: bctl.bannerTab02 == 'affiliates_banner02_480_220'}" onClick="sound()">480×220</li>
        <li class="tab" ng-click="bctl.bannerTab02 = 'affiliates_banner02_540_180'" ng-class="{selected: bctl.bannerTab02 == 'affiliates_banner02_540_180'}" onClick="sound()">540×180</li>
        <li class="tab" ng-click="bctl.bannerTab02 = 'affiliates_banner02_728_90'" ng-class="{selected: bctl.bannerTab02 == 'affiliates_banner02_728_90'}" onClick="sound()">728×90</li>
      </ul>
    </div>
    <div ng-show="bctl.bannerTab02 == 'affiliates_banner02_300_250'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner02_300_250.png" alt="Affiliates Banner 02 300_250">}}
    </div>
    <div ng-show="bctl.bannerTab02 == 'affiliates_banner02_300_600'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner02_300_600.png" alt="Affiliates Banner 02 300_600">}}
    </div>
    <div ng-show="bctl.bannerTab02 == 'affiliates_banner02_320_100'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner02_320_100.png" alt="Affiliates Banner 02 320_100">}}
    </div>
    <div ng-show="bctl.bannerTab02 == 'affiliates_banner02_336_280'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner02_336_280.png" alt="Affiliates Banner 02 336_280">}}
    </div>
    <div ng-show="bctl.bannerTab02 == 'affiliates_banner02_250_250'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner02_250_250.png" alt="Affiliates Banner 02 250_250">}}
    </div>
    <div ng-show="bctl.bannerTab02 == 'affiliates_banner02_234_60'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner02_234_60.png" alt="Affiliates Banner 02 234_60">}}
    </div>
    <div ng-show="bctl.bannerTab02 == 'affiliates_banner02_480_220'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner02_480_220.png" alt="Affiliates Banner 02 480_220">}}
    </div>
    <div ng-show="bctl.bannerTab02 == 'affiliates_banner02_540_180'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner02_540_180.png" alt="Affiliates Banner 02 540_180">}}
    </div>
    <div ng-show="bctl.bannerTab02 == 'affiliates_banner02_728_90'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner02_728_90.png" alt="Affiliates Banner 02 728_90">}}
    </div>
  </div>
  <div class="post__text--wrapper" ng-cloak>
    <h2 class="post__text--title">コンセプト</h2>
    <p>Coincheckのアフィリエイトブログに貼ってもらう為のバナーです。</p>
    <p>背景は、ブロックチェーンとセキュリティをイメージしています。</p>
    <p>通貨のロゴマークを散りばめて、通貨数の多さを表しました。また、ロゴマークを散りばめて、Coincheckが目指す「ポップな世界観」を出すことにも、注力しました。</p>
  </div>
</article>
