@import 'mixins.css';

[ng:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.svg__icon { fill: $textColor;}

.ofi { object-fit: contain; object-position: 50% 50%; font-family: 'object-fit: cover; object-position: 50% 50%;';}

.text__center { text-align: center;}

.underline { text-decoration: underline;}

* { box-sizing: border-box;}

html { position: relative; min-height: 100%;}
body { display: flex; flex-direction: column; height: 100vh; line-height: 1.75; color: $textColor; font-size: $baseFontSize; letter-spacing: 1px; font-feature-settings : "palt"; font-family: Roboto,Arial,Helvetica,sans-serif;}
img { vertical-align: bottom; max-width: 100%;}
a { transition: 0.3s;
  &:hover { opacity: 0.6;}
}

button, input, optgroup, select, textarea { color: initial; font: 400 16px system-ui; outline: none;}

h1 { width: 100%; font-size: 28px; margin-bottom: 20px;}
h2 { width: 100%; font-size: 24px; margin-bottom: 16px;}
h3 { width: 100%; font-size: 20px;}

p { margin-bottom: 16px;
  &:last-of-type { margin-bottom: 0;}
}

svg { display: inherit;}

main { flex: 1 0 auto;}

footer { width: 100%; background: #212121; color: color(#ffffff a(100%)); text-align: center; padding: 48px 8px;
  .github__icon { display: block; width: 32px; margin: 0 auto 8px auto;
    .svg__icon { fill: #ffffff;}
  }
  small { font-size: 12px; display: block; margin: auto;
    a { color: color(#ffffff a(100%)); text-decoration: underline; padding: 0 8px;}
    @media(--breakPC) { width: 95%;}
  }
  @media(--breakPC) { padding: 48px 0 120px;}
  @media(--smartphone) { padding: 48px 0 80px;}
}


.first__wrapper { width: 100%; position: relative; display: flex; padding: 160px 0 60px 0;
  .first__content { width: 960px; position: relative; z-index: 1000;  margin: auto;
    .first__box { position: relative; @mixin cardStyle;
      .first__textbox { padding: 32px 48px;
        .symbol__wrapper { width: 60px; @util margin(null auto 12px auto);}
        .first__text__title { text-align: center;}
        .first__skill__title { text-align: center; margin-bottom: 16px; @mixin titleBackground #f9f9f9,a,100%;}
        .notfound__image__wrapper { width: 500px; @util margin(null auto 36px auto);
          @media(--smartphone) { width: 70%;}
        }
        .notfound__button__wrapper { width: 100%; text-align: center; @util margin(32px null null null);
          .notfound__home__button { @mixin buttonStyle;
            &:hover { @mixin buttonStyleHover;}
          }
        }
        @media(--smartphone) { padding: 32px 24px;}
      }
      .icon__circle { width: 44px; position: absolute; top: 16px; left: 16px;}
      .icon__try { width: 44px; position: absolute; bottom: 16px; right: 16px;}
      .first__content__skill { margin-top: 48px; display: flex; justify-content: stretch; align-items: center; flex-wrap: wrap;
        img { display: inline-block; height: 60px; margin-top: 16px; margin-right: 32px;
          &:last-of-type { margin-right: 0;}
        }
      }
    }
    @media(--breakPC) { width: 95%;}
  }
  @media(--smartphone) { padding: 140px 0 40px 0;}
}

.single__page { margin-bottom: 80px;}

.menu__wrapper { width: 100%; font-size: $baseFontSize; background: #ffffff; position: fixed; color: color(#ffffff a(100%)); top: 0; box-shadow: 0 2px 4px $cardShadow; z-index: 3000;
  .menu__container { display: flex; justify-content: space-between; align-items: center; height: 56px; width: 960px; margin: auto; position: relative;
    .menu__home { display: inline-block; order: 1;
      .svg__icon { width: 28px; margin-right: 8px;}
      svg,span { display: inline-block; vertical-align: middle;}
    }
    .menu__github { position: absolute; width: 32px; height: 32px; left: 0; right: 0; margin: auto;}
    .menu__nav { color: $textColor; order: 2;
      .menu__hamburger { font-size: $baseFontSize; border: none; background: none; cursor: pointer; padding: 0;
        img { width: 20px; height: 20px; margin-left: 8px;}
        svg,img,span { display: inline-block; vertical-align: middle;}
      }
      .menu__nav__container { width: 220px; position: absolute; z-index: 5000; top: 70px; right: 0; overflow: auto;
        .menu__nav__box { background: color(#ffffff a(100%)); border-radius: $baseBorderRadius; border: 1px solid $baseBorderColor;
          .menu__nav__inline { width: 100%; margin: 0; padding: 12px; position: relative; display: flex; flex-wrap: wrap; align-items: center; border-top: 1px solid $baseBorderColor;
            .svg__icon { width: 24px; height: 24px; margin-right: 8px;}
            .menu__svg__icon { display: none; width: 22px; height: 22px; margin: auto; position: absolute; right: 12px; top: 0; bottom: 0; fill: #cccccc;
              @media(--smartphone) { display: inline-block;}
            }
            svg,span { display: inline-block;}
            &:hover { background: color(#f4f4f4 a(100%)); opacity: 1;}
            &:first-of-type { border-top: none;}
          }
          @media(--iPad) { margin-bottom: 100px;}
        }
        @media(--iPad) { position: fixed; height: 100%; margin: auto; right: 2.5%;}
        @media(--smartphone) { width: 95%; left: 0; right: 0;}
      }
    }
    @media(--breakPC) { width: 95%;}
  }
  a { color: $textColor; text-decoration: none; display: inline-block; vertical-align: middle;}
  .languages__wrapper { position: fixed; z-index: 2000; margin: auto; bottom: 32px; right: 32px; background: #ffffff; border-radius: 100px; box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    .languages__nav { text-align: center;
      .languages__pc { @mixin displayPcOnly;}
      .languages__sp { @mixin displaySpOnly;}
      .languages__nav__button { font-size: $baseFontSize; width: 220px; color: $textColor; cursor: pointer; border-radius: 100px; border: none; background: color(#ffffff a(100%)); padding: 16px 32px;
        .svg__icon { width: 20px; height: 20px;
          @media(--smartphone) { width: 28px; height: 28px;}
        }
        svg,span { vertical-align: middle;}
        span { @mixin displayPcOnly;}
        &:hover { opacity: 1;}
        @media(--smartphone) { width: auto; padding: 16px;}
      }
      .languages__nav__content { width: 220px; text-align: left; background: white; position: absolute; bottom: 80px; right: 0; border-radius: $baseBorderRadius; border: 1px solid $baseBorderColor;
        .languages__box { width: 100%; margin: 0; padding: 16px; border-top: 1px solid $baseBorderColor;
          .lang__icon { width: 24px; height: 24px; margin-right: 4px; vertical-align: middle;}
          svg,span { display: inline-block; vertical-align: middle;}
          &:hover { background: #f4f4f4; opacity: 1;}
          &:first-of-type { border-top: none;}
        }
      }
    }
    @media(--smartphone) { bottom: 8px; right: 2.5%;}
  }
}

.post__page{ width: 100%;
  .post__page__wrapper { width: 960px; margin: 160px auto 40px auto;
    .illust__image { margin-top: 72px; @mixin cardStyle;}
    h3 { font-size: $baseFontSize; margin-bottom: 8px;}
    small { font-size: 12px; color: color(#848484 a(100%)); margin-bottom: 16px; display: inline-block;}
    @media(--breakPC) { width: 95%;}
  }
  .post__netlify__admin { margin: 32px auto; box-shadow: 0 0 8px $cardShadow;}
  .post__banner__wrapper { width: 700px; margin: 160px auto 40px auto;
    h3 { font-size: $baseFontSize; margin-bottom: 8px;}
    small { font-size: 12px; color: color(#848484 a(100%)); margin-bottom: 16px; display: inline-block;}
    figure { text-align: center;
      img { box-shadow: 0 2px 4px $cardShadow;}
    }
    .tabs__wrapper { width: 100%; margin-bottom: 40px; overflow: auto;
      .tabs { display: table;
        .tab { display: inline-block; border-radius: 4px; padding: 12px 16px; text-align: center; cursor: pointer;
          &.selected { background: color(#2fffff a(40%));}
          @media(--breakBanner) { display: table-cell;}
        }
      }
    }
    @media(--breakBanner) { width: 95%;}
  }
  .mailmagazine__wrapper { text-align: center;}
}

.wrapper { width: 960px; margin: 48px auto; border-bottom: 1px solid #cccccc;
  .title { margin: 36px auto 48px auto; display: flex; align-items: center;}
  .wrapper__items { display: flex; flex-wrap: wrap; justify-content: space-between;
    .img__wrapper { display: inline-block; width: 960px;}
    figure { width: 32%; margin-bottom: 48px;
      .link__top__img { display: block; text-align: center; position: relative; overflow: hidden; @mixin cardStyle;
        img { height: 286px;
          @media(--smartphone) { height: auto;}
        }
      }
      .post__title__caption { margin-top: 24px;
        .caption__title { text-decoration: none; color: $textColor; position: relative; display: inline-block; margin-bottom: 8px;
          &:before { position: absolute; top: 1.5rem; left: 0; content: ""; display: inline-block; width: 0; height: 1px; background: $textColor; transition: .5s;}
          &:hover { opacity: 1;}
          &:hover:before { width: 100%;}
        }
        .caption { font-size: 12px; color: color(#848484 a(100%));}
      }
      @media(--iPad) { width: 48%;}
      @media(--smartphone) { width: 100%;}
    }
    &::after { content: ""; display: block; width: 32%;}
  }
  .categories { width: 100%; text-align: center;
    a { @mixin buttonStyle; margin-bottom: 48px;
      &:hover { @mixin buttonStyleHover;}
    }
  }
  .wrapper__other { width: 100%;
    .other__container { display: flex; justify-content: space-between; margin-bottom: 64px;
      svg { width: 20%; height: 100%;
        @media(--iPad) { width: 100%; height: 160px; margin-bottom: 24px;}
      }
      .other__textbox { width: 75%; text-align: justify;
        h3 { margin-bottom: 24px;}
        @media(--iPad) { width: 100%;}
      }
      @media(--iPad) { display: block;}
    }
  }
  @media(--breakPC) { width: 95%; }
  &:last-of-type { border-bottom: none;}
}

/* Form */
.form__wrapper { width: 100%; margin-bottom: 32px;
  form { width: 960px; margin: auto;
    p { margin-bottom: 0; text-align: left;}
    input { width: 100%; display: inline-block; border: 1px solid #cccccc; padding: 16px; border: none; border-radius: 4px;}
    .form__label__wrapper { width: 100%; position: relative;
      .form__label { display: inline-block; float: left; margin-top: 12px;}
    }
    .field__container { width: 100%; margin: 24px 0; display: flex; flex-wrap: wrap; justify-content: space-between;
      .field__contents { width: 48%;
        .field__input { width: 100%; text-align: left;
          &:last-of-type { margin-top: 20px;}
        }
        .field__textarea { width: 100%; text-align: left;
          textarea { width: 100%; display: inherit; height: 176px; padding: 16px; border: 1px solid #cccccc; border-radius: 4px; resize: none;}
        }
        .span__required { font-size: 12px; padding: 4px 8px; margin-left: 8px; border-radius: 4px; background: #ea352d;}
        @media(--iPad) { width: 100%;
          &:last-of-type { margin-top: 20px;}
        }
      }
    }
    .form__button__wrapper { width: 100%; text-align: center; margin-top: 32px;
      .submit__button { width: auto; padding: 16px 60px; font-size: $baseFontSize; cursor: pointer; border-radius: 100px; border: none; color: color(#ffffff a(100%)); background: color(#ea352d a(100%)); box-shadow: 0 4px #520300;
        &:active { box-shadow: none; margin-top: 4px; margin-bottom: -4px;}
      }
    }
    @media(--breakPC) { width: 95%;}
  }
  a { color: color(#ffffff a(100%));}
}

/* gopher */
.gopher__wrapper { float: right; width: 56px; height: 56px; margin-left: 12px; text-align: right;
  img { height: 56px;}
  &:last-of-type { margin-left: 0;}
}

/* categories */
.categories__wrapper { margin-top: 72px; border-bottom: none;}

/* pagenation */
.pagination { text-align: center;
  a { text-decoration: none; color: $textColor; position: relative; display: inline-block; margin-bottom: 8px;
    &:before { position: absolute; top: 1.5rem; left: 0; content: ""; display: inline-block; width: 0; height: 1px; background: $textColor; transition: .5s;}
    &:hover { opacity: 1;}
    &:hover:before { width: 100%;}
  }
  .current__page { display: inline-block; margin: 0 24px;}
}

/* Post */
.post__text--wrapper { margin: 48px auto; width: 600px;
  .post__text--title { margin: 24px 0; text-align: center; @mixin titleBackground #f5f5f5,a,70%;}
  .button__wrapper { width: 100%; text-align: center;
    .click__button { @mixin buttonStyle; margin-top: 32px;
      &:hover { @mixin buttonStyleHover;}
    }
  }
  a { color: $textColor;}
  @media(--smartphone) { width: 95%;}
}

/* IE Alert */
.ie__alert{ color: $textColor; text-align: center; top: 0; width: 100%; z-index: 9999; padding: 16px; border: 4px solid color(#ea352d a(100%));
  a { color: $textColor; text-decoration: underline;}
}
