---
title: "Coincheck Affiliate Banner 01"
date: 2018-05-10
categories: ['banner']
caption: "Facebook / Photoshop / 2小時"
eyecatch: '/images/banner/affiliates/ja/affiliates_banner01_300_250.png'
url: '/cn/banner/affiliate01/'
draft: false
---

<article class="post__page" ng-controller="BannerCtrl as bctl">
  <div class="post__banner__wrapper">
    <h3>Coincheck Affiliate Banner 01</h3>
    <small>Facebook / Photoshop / 2小時</small>
    <div class="tabs__wrapper" ng-cloak>
      <ul class="tabs">
        <li class="tab" ng-click="bctl.bannerTab01 = 'affiliates_banner01_300_250'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_300_250'}" onClick="sound()">300×250</li>
        <li class="tab" ng-click="bctl.bannerTab01 = 'affiliates_banner01_300_600'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_300_600'}" onClick="sound()">300×600</li>
        <li class="tab" ng-click="bctl.bannerTab01 = 'affiliates_banner01_320_100'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_320_100'}" onClick="sound()">320×100</li>
        <li class="tab" ng-click="bctl.bannerTab01 = 'affiliates_banner01_336_280'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_336_280'}" onClick="sound()">336×280</li>
        <li class="tab" ng-click="bctl.bannerTab01 = 'affiliates_banner01_250_250'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_250_250'}" onClick="sound()">250×250</li>
        <li class="tab" ng-click="bctl.bannerTab01 = 'affiliates_banner01_234_60'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_234_60'}" onClick="sound()">234×60</li>
        <li class="tab" ng-click="bctl.bannerTab01 = 'affiliates_banner01_480_220'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_480_220'}" onClick="sound()">480×220</li>
        <li class="tab" ng-click="bctl.bannerTab01 = 'affiliates_banner01_540_180'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_540_180'}" onClick="sound()">540×180</li>
        <li class="tab" ng-click="bctl.bannerTab01 = 'affiliates_banner01_728_90'" ng-class="{selected: bctl.bannerTab01 == 'affiliates_banner01_728_90'}" onClick="sound()">728×90</li>
      </ul>
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_300_250'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_300_250.png" alt="Affiliates Banner 01 300_250">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_300_600'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_300_600.png" alt="Affiliates Banner 01 300_600">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_320_100'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_320_100.png" alt="Affiliates Banner 01 320_100">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_336_280'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_336_280.png" alt="Affiliates Banner 01 336_280">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_250_250'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_250_250.png" alt="Affiliates Banner 01 250_250">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_234_60'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_234_60.png" alt="Affiliates Banner 01 234_60">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_480_220'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_480_220.png" alt="Affiliates Banner 01 480_220">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_540_180'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_540_180.png" alt="Affiliates Banner 01 540_180">}}
    </div>
    <div ng-show="bctl.bannerTab01 == 'affiliates_banner01_728_90'" ng-cloak>
      {{< figure src="/images/banner/affiliates/ja/affiliates_banner01_728_90.png" alt="Affiliates Banner 01 728_90">}}
    </div>
  </div>
  <div class="text__wrapper" ng-cloak>
    <h2 class="text__wrapper__title">概念</h2>
    <p>這是Coincheck關聯博客的一面旗幟。</p>
    <p>人物拍攝了硬幣支票和硬幣（用髮色，刺穿，衣服裝飾等形成的氣氛）</p>
    <p>目標主要是女性。 由於女性人數不多，我的目標是獲得更少的接觸。</p>
  </div>
</article>
