<header class="menu__wrapper" id="menu" ng-controller="menuCtrl as mCtrl">
  <div id="ie__message" ng-cloak>
    <span>{{ i18n "ieMessage" }}</span><a href="https://www.google.co.jp/chrome/index.html">{{ i18n "ieChromeLink" }}</a>
  </div>
  <div class="menu__container">
    <a class="menu__home" href="{{ "/" | relLangURL }}">
      {{ partial "svg/menu_home.html" . }}<span>{{ i18n "menuHome" }}</span>
    </a>
    <a class="menu__github" href="{{ .Site.Params.Repo_portfolio }}" target="_blank">{{ partial "svg/github.html" . }}</a>
    <nav class="menu__nav">
      <button class="menu__hamburger click__sound" ng-click="mCtrl.openMenu()" ng-show="showMenu != true">
        <span>{{ i18n "menuTitle" }}</span><img src="{{ .Site.BaseURL }}images/icon/menu_icon_open_reserve.svg" alt="Open">
      </button>
      <button class="menu__hamburger click__sound" ng-click="showMenu = false" ng-hide="showMenu != true" ng-cloak>
        <span>{{ i18n "menuTitleClose" }}</span><img src="{{ .Site.BaseURL }}images/icon/menu_icon_close.svg" alt="Close">
      </button>
      <nav class="menu__nav__container" ng-if="showMenu" ng-cloak>
        <div class="menu__nav__box">
          <a class="menu__nav__inline" href="{{ "/photos/" | relLangURL }}">
            {{ partial "svg/menu_photo.html" . }}<span>{{ i18n "photosTitle" }}</span>{{ partial "svg/menu_arrow.html" . }}
          </a>
          <a class="menu__nav__inline" href="{{ "/service/" | relLangURL }}">
            {{ partial "svg/menu_service.html" . }}<span>{{ i18n "serviceTitle" }}</span>{{ partial "svg/menu_arrow.html" . }}
          </a>
          <a class="menu__nav__inline" href="{{ "/illust/" | relLangURL }}">
            {{ partial "svg/menu_illust.html" . }}<span>{{ i18n "illustTitle" }}</span>{{ partial "svg/menu_arrow.html" . }}
          </a>
          <a class="menu__nav__inline" href="{{ "/about/" | relLangURL }}">
            {{ partial "svg/menu_about.html" . }}<span>{{ i18n "aboutMeMenu" }}</span>{{ partial "svg/menu_arrow.html" . }}
          </a>
        </div>
      </nav>
    </nav>
  </div>
  <div id="langulages__wrapper" class="languages__wrapper">
    <div class="languages__nav">
      <button class="languages__button languages__nav__button click__sound" ng-click="mCtrl.openLang()" ng-show="showMobileLang != true">{{ partial "svg/languages.html" . }}<span>{{ i18n "languageSelect" }}</span></button>
      <button class="languages__nav__button click__sound" ng-click="showMobileLang = false" ng-hide="showMobileLang != true" ng-cloak>{{ partial "svg/close.html" . }}<span>{{ i18n "menuTitleClose" }}</span></button>
      <nav class="languages__nav__content" ng-if="showMobileLang" ng-cloak>
        {{ partial "languages.html" . }}
      </nav>
    </div>
  </div>
</header>
