<header class="menu__wrapper" id="menu" ng-controller="menuCtrl as mCtrl">
  <div class="menu__container">
    <a class="menu__home" href="{{ "/" | relLangURL }}">
      {{ partial "svg/menu_home.html" . }}<span>{{ i18n "menuHome" }}</span>
    </a>
    <nav class="menu__nav">
      <button class="menu__hamburger" ng-click="mCtrl.openMenu()" ng-show="showMenu != true" onClick="sound()">
        <span>{{ i18n "menuTitle" }}</span><img src="{{ .Site.BaseURL }}images/icon/menu_icon_open_reserve.svg" alt="Open">
      </button>
      <button class="menu__hamburger" ng-click="showMenu = false" ng-hide="showMenu != true" onClick="sound()" ng-cloak>
        <span>{{ i18n "menuTitleClose" }}</span><img src="{{ .Site.BaseURL }}images/icon/menu_icon_close.svg" alt="Close">
      </button>
      <nav class="menu__nav__container" ng-if="showMenu" ng-cloak>
        <a class="menu__nav__inline" href="{{ "/landingpage/" | relLangURL }}">
          {{ partial "svg/menu_lp.html" . }}<span>{{ i18n "landingpageTitle" }}</span>{{ partial "svg/menu_arrow.html" . }}
        </a>
        <a class="menu__nav__inline" href="{{ "/banner/" | relLangURL }}">
          {{ partial "svg/menu_banner.html" . }}<span>{{ i18n "bannerTitle" }}</span>{{ partial "svg/menu_arrow.html" . }}
        </a>
        <a class="menu__nav__inline" href="{{ "/illust/" | relLangURL }}">
          {{ partial "svg/menu_illust.html" . }}<span>{{ i18n "illustTitle" }}</span>{{ partial "svg/menu_arrow.html" . }}
        </a>
        <a class="menu__nav__inline" href="{{ "/blog/" | relLangURL }}">
          {{ partial "svg/menu_blog.html" . }}<span>{{ i18n "blogTitle" }}</span>{{ partial "svg/menu_arrow.html" . }}
        </a>
        <a class="menu__nav__inline" href="{{ "/mailmagazine/" | relLangURL }}">
          {{ partial "svg/menu_mail.html" . }}<span>{{ i18n "mailmagazineTitle" }}</span>{{ partial "svg/menu_arrow.html" . }}
        </a>
      </nav>
    </nav>
  </div>
  <div id="langulages__wrapper" class="languages__wrapper">
    <div class="languages__nav">
      <button class="languages__pc languages__nav__button" ng-click="mCtrl.openLang()" ng-show="showMobileLang != true" onClick="sound()">{{ partial "svg/languages.html" . }}<span>{{ i18n "languageSelect" }}</span></button>
      <button class="languages__sp languages__nav__button" ng-click="mCtrl.openLang()" ng-show="showMobileLang != true" onClick="sound()">{{ partial "svg/languages.html" . }}</button>
      <button class="languages__nav__button" ng-click="showMobileLang = false" ng-hide="showMobileLang != true" onClick="sound()" ng-cloak>{{ partial "svg/close.html" . }}<span>{{ i18n "menuTitleClose" }}</span></button>
      <nav class="languages__nav__content" ng-if="showMobileLang" ng-cloak>
        {{ partial "languages.html" . }}
      </nav>
    </div>
  </div>
</header>
