<script type="text/javascript" src="{{ .Site.BaseURL }}assets/javascripts/jquery.3.3.1.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}assets/javascripts/jquery.ofi.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}assets/javascripts/jquery.plugins.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}assets/javascripts/three.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}assets/javascripts/particles.js"></script>
