<link rel="shortcut icon" href="{{ .Site.BaseURL }}images/icon/favicon.ico">
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}images/icon/android-icon.png">
<link rel="apple-touch-icon" href="{{ .Site.BaseURL }}images/icon/apple-touch-icon.png">
<link rel="apple-touch-icon-precomposed" href="{{ .Site.BaseURL }}images/icon/apple-touch-icon-precomposed.png">
<link rel="stylesheet" href="{{ .Site.BaseURL }}assets/styles/reset.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}assets/styles/style.css">
