{{ partial "head.html" . }}
<article class="first__wrapper">
  <div class="first__content">
    <div class="first__box">
      <figure class="icon__circle">
        <img src="{{ .Site.BaseURL }}images/back/icon_back_circle.svg" alt="">
      </figure>
      <div class="first__textbox">
        <figure class="notfound__image__wrapper">
          <img src="{{ .Site.BaseURL }}images/404.svg" alt="">
        </figure>
        <h2 class="first__text__title">{{ i18n "notfoundTItle" }}</h2>
        <p class="text__center">{{ i18n "notfoundText01" }}</p>
        <p class="text__center">{{ i18n "notfoundText02" }}</p>
        <div class="notfound__button__wrapper">
          <a class="notfound__home__button" href="{{ "/" | relLangURL }}">{{ i18n "notfoundButtonText" }}</a>
        </div>
      </div>
      <figure class="icon__try">
        <img src="{{ .Site.BaseURL }}images/back/icon_back_try.svg" alt="">
      </figure>
    </div>
  </div>
</article>
{{ partial "footer.html" . }}
