{{ partial "head.html" . }}
<article class="first__wrapper">
  <div class="first__content">
    <div class="first__box">
      <figure class="icon__circle">
        <img src="/images/back/icon_back_circle.svg" alt="">
      </figure>
      <div class="first__textbox">
        <figure class="symbol__wrapper">
          <img src="{{ .Site.Params.Image_symbol }}" alt="">
        </figure>
        <h2 class="first__text__title">{{ i18n "profileTitleName" }}</h2>
        <p>{{ i18n "profileText01" }}</p>
        <p>{{ i18n "profileText02" }}</p>
        <p>{{ i18n "profileText03" }}</p>
        <p>{{ i18n "profileText04" }}</p>
      </div>
      <nav class="nav__more">
        <a href="{{ "/about/" | relLangURL }}">{{ i18n "aboutMe" }}</a>
      </nav>
      <figure class="icon__try">
        <img src="/images/back/icon_back_try.svg" alt="">
      </figure>
    </div>
  </div>
</article>

<article id="photo" class="wrapper">
  <h2 class="title">{{ partial "svg/menu_photo.html" . }}{{ i18n "photosTitle" }}</h2>
  <div class="wrapper__items photos__wrapper">
    {{ range first 12 (where .Data.Pages "Section" "photos") }}
    <figure>
      <a class="link__top__img" href="{{ .Permalink }}">
        <img class="lazyload" src="{{ .Site.Params.Placeholder_photos }}" data-bg="{{ .Params.eyecatch }}" alt="" itemprop="image">
      </a>
      <div class="post__title__caption">
        <a class="caption__title" href="{{ .Permalink }}">{{ .Params.Title }}</a>
        <p class="caption">{{ .Params.caption }}</p>
      </div>
    </figure>
    {{ end }}
  </div>
  <nav class="categories">
    <a href="{{ "/photos/" | relLangURL }}">{{ i18n "photosList" }}</a>
  </nav>
</article>

<article id="service" class="wrapper">
  <h2 class="title">{{ partial "svg/menu_service.html" . }}{{ i18n "serviceTitle" }}</h2>
  <div class="wrapper__items">
    {{ range (where .Data.Pages "Section" "service") }}
    <figure>
      <a class="link__top__img" href="{{ .Permalink }}">
        <img class="lazyload" src="{{ .Site.Params.Placeholder }}" data-bg="{{ .Params.eyecatch }}" alt="" itemprop="image">
      </a>
      <div class="post__title__caption">
        <a class="caption__title" href="{{ .Permalink }}">{{ .Params.Title }}</a>
        <p class="caption">{{ .Params.caption }}</p>
      </div>
    </figure>
    {{ end }}
  </div>
  <nav class="categories">
    <a href="{{ "/service/" | relLangURL }}">{{ i18n "serviceList" }}</a>
  </nav>
</article>

<article id="illust" class="wrapper">
  <h2 class="title">{{ partial "svg/menu_illust.html" . }}{{ i18n "illustTitle" }}</h2>
  <div class="wrapper__items">
    {{ range first 12 (where .Data.Pages "Section" "illust") }}
    <figure>
      <a class="link__top__img illust__image" href="{{ .Permalink }}">
        <img class="lazyload" src="{{ .Site.Params.Placeholder }}" data-bg="{{ .Params.eyecatch }}" alt="" itemprop="image">
      </a>
      <div class="post__title__caption">
        <a class="caption__title" href="{{ .Permalink }}">{{ .Params.Title }}</a>
      </div>
    </figure>
    {{ end }}
  </div>
  <nav class="categories">
    <a href="{{ "/illust/" | relLangURL }}">{{ i18n "illustList" }}</a>
  </nav>
</article>

<article id="other" class="wrapper">
  <h2 class="title">{{ i18n "otherTitle" }}</h2>
  <div class="wrapper__other">
    <div class="other__container">
      {{ partial "svg/interview.html" . }}
      <div class="other__textbox">
        <h3>{{ i18n "otherInterviewTitle" }}</h3>
        <p>{{ i18n "otherInterviewText01" }}</p>
      </div>
    </div>
    <div class="other__container">
      {{ partial "svg/github.html" . }}
      <div class="other__textbox">
        <h3>{{ i18n "otherGithubTitle" }}</h3>
        <p>{{ i18n "otherGithubText01" }}</p>
        <p>{{ i18n "otherGithubText02" }}</p>
        <p>{{ i18n "otherGithubText03" }}</p>
      </div>
    </div>
    <div class="other__container">
      {{ partial "svg/study.html" . }}
      <div class="other__textbox">
        <h3>{{ i18n "otherStaticTitle" }}</h3>
        <p>{{ i18n "otherStaticText01" }}</p>
        <p>{{ i18n "otherStaticText02" }}</p>
      </div>
    </div>
  </div>
</article>
{{ partial "footer.html" . }}
