{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="wrapper categories__wrapper">
  <div class="wrapper__items photos__wrapper">
    <h2 class="title">{{ i18n "bannerTitle" }}</h2>
    {{ range (.Paginator 12).Pages }}
    <figure ng-cloak>
      <a class="link__top__img" href="{{ .Permalink }}">
        <img class="lazyload" src="{{ .Site.Params.Placeholder_photos }}" data-bg="{{ .Params.eyecatch }}" alt="" itemprop="image">
      </a>
      <div class="post__title__caption">
        <a class="caption__title" href="{{ .Permalink }}">{{ .Params.Title }}</a>
        <p class="caption">{{ .Params.caption }}</p>
      </div>
    </figure>
    {{ end }}
  </div>
  {{ partial "pagenation.html" . }}
</div>
{{ partial "footer.html" . }}
